<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <div class="menu">
        {%if request.session.username == 'username' %}
        <!-- view for student -->
        <a href="http://localhost:8000/OCS/view-question">View question</a><br>
        <a href="http://localhost:8000/OCS/new-question">New Question</a><br>
        <a href="http://localhost:8000/OCS/logout">Logout</a>
        {% else %}
        <!-- view for student -->
        <a href="http://localhost:8000/OCS/start-test">Start Test</a><br>
        <a href="http://localhost:8000/OCS/recoding-lecture">Recoding lecture</a><br>   
        <a href="http://localhost:8000/OCS/logout">Logout</a>
        {%endif%}
    </div>
       <form action="http://localhost:8000/OCS/edit-save-question/" method="post">
           {% csrf_token%}
           <input type="hidden" name="qno" value="{{question.qno}}">
           <div class="title">Question Statment</div>
           <div class="data"><textarea name="question">{{question.que}}</textarea></div>
           
           <div class="title">Option a</div>
           <div class="data"><input type="text" name="optiona" value="{{question.optiona}}"></div>
   
           <div class="title">Option b</div>
           <div class="data"><input type="text" name="optionb" value="{{question.optionb}}"></div>
   
           <div class="title">Option c</div>
           <div class="data"><input type="text" name="optionc" value="{{question.optionc}}"></div>
   
           <div class="title">Option d</div>
           <div class="data"><input type="text" name="optiond" value="{{question.optiond}}"></div>
   
           <div class="title">answer</div>
           <div class="data">
               <select name="answer">
                   <option value="a" {% if question.answer == "a"%}selected {% endif%}>a</option>
                   <option value="b" {% if question.answer == "b"%}selected {% endif%}>b</option>
                   <option value="c" {% if question.answer == "c"%}selected {% endif%}>c</option>
                   <option value="d" {% if question.answer == "d"%}selected {% endif%}>d</option>
               </select>
           </div>
           <div>
               <input type="submit" value="Update">
           </div>
       </form>
</body>
</html>